[submodule "GLFW"]
	path = GLFW
	url = https://github.com/glfw/glfw.git
[submodule "GLAD"]
	path = GLAD
	url = https://github.com/Dav1dde/glad
[submodule "Eigen"]
	path = Eigen
	url = https://gitlab.com/libeigen/eigen.git
